/* div 共用的 css */
#first, #second, #third, #fourth, #fifth {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

/* 分別對五個div設置不同的圖片 */
#first {
	background-image: url("img/img1.png");
}

#second {
	background-image: url("img/img2.png");
}

#third {
	background-image: url("img/img3.png");
}

#fourth {
	background-image: url("img/img4.png");
}

#fifth {
	background-image: url("img/img5.png");
}